<app-header></app-header>
<div class="introduce-section">
    <div class="container">
      <div class="intro-text">
        <h1>Welcome to CieL Watch Store</h1>
        <p>
            Tại <strong>CieL</strong>, chúng tôi tin rằng đồng hồ không chỉ là vật để xem giờ; nó còn là sự phản ánh phong cách cá nhân của bạn.
            Chúng tôi cung cấp nhiều loại đồng hồ chất lượng cao, từ thiết kế cổ điển đến đồng hồ hiện đại.
        </p>
        <p>
            Cho dù bạn đang tìm kiếm một món quà xa xỉ hay một người bạn đồng hành đáng tin cậy để đeo hàng ngày, bộ sưu tập của chúng tôi đều có thứ dành cho mọi người.
            Sứ mệnh của chúng tôi là cung cấp các sản phẩm hàng đầu và dịch vụ khách hàng tuyệt vời, đảm bảo rằng bạn tìm thấy chiếc đồng hồ hoàn hảo cho mọi dịp.
        </p>
        <p>
            <strong>Mua ngay</strong> và khám phá vẻ đẹp thanh lịch vượt thời gian tại <strong>Cửa hàng đồng hồ CieL</strong>.
        </p>
      </div>
      <div class="intro-image">
        <img src="assets/images/banner.webp" alt="CieL Watch Store" />
      </div>
    </div>
  </div>
  <app-footer></app-footer>
  